#ENV EXAMPLE
DB_NAME=testing
DB_PORT=5433
DB_HOST=localhost
DB_USERNAME=testing
DB_PASSWORD=testing
DB_PARAMS="sslmode=disable" # this is needed because in production, we use `sslrootcert=rds-ca-rsa2048-g1.pem` and `sslmode=verify-full` flag to connect
# read more: https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/PostgreSQL.Concepts.General.SSL.html
JWT_SECRET=va;slrjjaovlnasdfadsjkacvmnasdlfjk
BCRYPT_SALT=8 # don't use 8 in prod! use > 10
